---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='Coding Arcana | On this page you can find a collection of blogposts'
  pageTitle='Coding Arcana'
>
  <main class='bg-sky p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
